#
# copy to .env before usage
#

MYSQL_ROOT_PASSWORD=orbitar
SERVER_DOMAIN=orbitar.local
API_DOMAIN=api.orbitar.local
REDIS_PASSWORD=orbitar

# !IMPORTANT: TLS_ENABLED should always be empty, it's a flag
# To enable TLS, uncomment it (and leave empty!)
# To disable TLS, comment out / remove
# If enabled, but TLS_CERT_FILE and TLS_KEY_FILE are not set, self-signed caddy certificates will be generated
# TLS_ENABLED=

# These values are default, and need to be set and overridden if file names are different
# TLS_CERT_FILE=orbitar.crt
# TLS_KEY_FILE=orbitar.key

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_CONTACT=

MEDIA_HOSTING_URL=
MEDIA_HOSTING_CLIENT_ID=
MEDIA_HOSTING_DIMS_AES_KEY=

SENDING_BLUE_API_KEY=
DEEPL_API_KEY=

BARMALINI_USER_ID=
BARMALINI_KEY=

OPENAI_API_KEY=

# build UUID (optional)
# FINGERPRINT=

PWD=.

JWT_SECRET_KEY=
ACCESS_TOKEN_TTL_SECONDS=604800