version: '3.7'

services:
  caddy:
    image: caddy
    restart: unless-stopped
    ports:
      - "443:443"
    environment:
      SERVER_DOMAIN: ${SERVER_DOMAIN}
      API_DOMAIN: ${API_DOMAIN}
      IMGUR_CLIENT_ID: ${IMGUR_CLIENT_ID}
    volumes:
      - type: volume
        source: $PWD/caddy/Caddyfile.ssl.local
        target: /etc/caddy/Caddyfile
        read_only: true
      - type: volume
        source: $PWD/caddy/certs
        target: /certs
        read_only: true
      - type: volume
        source: frontend_build
        target: /srv
        read_only: true
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend

  mysql:
    platform: linux/amd64
    build:
      context: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    volumes:
      - mysql_db:/var/lib/mysql

  redis:
    image: redis:7
    restart: always
    command: redis-server --save 20 1 --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

  frontend:
    build:
      context: frontend
      args:
        NODE_ENV: production
        SERVER_DOMAIN: ${SERVER_DOMAIN}
        API_DOMAIN: ${API_DOMAIN}
    restart: "no"
    volumes:
      - frontend_build:/frontend

  backend:
    build:
      context: backend
    restart: always
    environment:
      SITE_DOMAIN: ${SERVER_DOMAIN}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - mysql

volumes:
  caddy_data:
  caddy_config:
  frontend_build:
  mysql_db:
  redis_data:
