.logoutButton,
.themeButton {
  background: var(--dim1);
  color: var(--fgSoft);
  border: none;
  display: flex;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  align-items: center;
  gap: 8px;
  fill: var(--fgSoft);
}

.logoutButton:hover,
.themeButton.dynamic:hover
{
  fill: var(--fg);
  color: var(--fg);
  background: var(--dim3);
}
