.comment {
    margin: 20px 0;
    .content>div {
        font-size: 16px;
        line-height: 1.5em;
        color: var(--fg);
        overflow-wrap: anywhere;
        @media only screen and (max-width: 600px) {
            font-size: 14px;
        }
    }
    img {
         max-width: 100%;
         max-height: 500px;
    }
}

.controls {
    display: flex;
    margin-top: 4px;
    margin-left: -3px;
    align-items: center;

    .control {
        margin-right: 25px;
        color: var(--fgSofter);
        display: flex;
        align-items: center;
    }

    button, a {
        height: 24px;
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        display: flex;
        align-items: center;
        font-size: 13px;
        fill: var(--fgSoftest);
        color: var(--fgSoftest);
        text-decoration: none;

        font-weight: bold;

        &.active {
            fill: var(--primary);
            font-weight: bold;
        }
    }
    a {
         margin: 0 2px;
        &.active {
            color: var(--primary);
        }
    }
    button:disabled {
          fill: var(--fgGhost);
          cursor: default;
    }
    .label {
         margin-left: 5px;
    }
}

.answers {
    margin-top: 32px;
    margin-bottom: 32px;
    padding-left: 8px;
    border-left: 1px solid var(--fgAlmostInvisible);

    @media only screen and (min-width: 990px) {
        padding-left: 20px;
        margin-left: 8px;
    }
}

:global {
    .unreadOnly :local(.comment):not(.isNew) > .commentBody {
        opacity: 0.4;
        transition: opacity 500ms;
    }

    .unreadOnly :local(.comment):not(.isNew) > .commentBody:hover {
        opacity: inherit;
        transition: opacity 500ms;
    }

    .isNew {
        border-left: 2px solid var(--primary);
        margin-left: -8px;
        padding-left: 8px;

        @media only screen and (min-width: 990px) {
            margin-left: -21px;
            padding-left: 21px;
        }
    }

    /* highlight only top level of unread comments */
    .isNew .isNew {
        border-left: 1px solid var(--fgAlmostInvisible);
    }
}
.newComment {
    color: var(--primary);
    font-style: italic;
}