.content {
  max-height: fit-content;
  
  div[class^=ContentComponent_content__] {
  iframe, video {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
  }
}

  &.cut {
    max-height: 650px;
    overflow: hidden;
    -webkit-mask-image: -webkit-gradient(linear, left 70%, left 90%, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 90%);
  }
  b, i, u, strike, blockquote{
    color: var(--fg);
  }
}

.cutCover {
  position: relative;
}

.cutButton {
  position: absolute;
  bottom: 8px;
  left: 0;
  background: var(--dim2);
  color: var(--fgMedium);
  border: none;
  //border: 1px solid var(--dim3);
  padding: 8px;
  border-radius: 4px;
  font-size: 15px;
  &:hover{
    background: var(--dim3);
  }
}
