.answer {
    margin-bottom: 25px;
}

.answer textarea, .answer .preview {
    width: 100%;
    min-height: 100px;
    font-size: 16px;
    padding: 10px;
    line-height: 1.5em;
}

.controls {
    display: flex;
    background: var(--controls-bg);
    align-items: center;
}

.controls .control {
    color: var(--inactive-fg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls button, .controls a {
    width: 32px;
    height: 32px;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;

    fill: var(--inactive-fg);
    display: block;
    align-items: center;
    font-size: 12px;

    color: var(--inactive-fg);
    text-decoration: none;
}

.controls button:hover, .controls a:hover {
    color: var(--active-fg);
    fill: var(--active-fg);
}

.controls a {
    margin: 0 2px;
}

.controls button.active, .controls a.active {
    fill: var(--active-fg);
    font-weight: bold;
}

.controls .label {
    margin-left: 5px;
}

.controls a.active {
    color: var(--active-fg);
}

.controls button:disabled {
    color: var(--disabled-fg);
    fill: var(--disabled-fg);
}

button.bold {
    font-weight: bold;
}
button.italic {
    font-style: italic;
}
button.underline {
    text-decoration: underline;
}
button.strike {
    text-decoration: line-through;
}
button.irony {
    font-style: italic;
    color: var(--irony-fg);
}
button.quote {
}

.final button.buttonPreview, .final button.buttonPreview:hover, .final button.buttonPreview:disabled {
    background: none;
    border: none;
    opacity: 0.8;
    margin-right: 5px;
    color: var(--fg);
}

.editor {
    display: flex;
}

.final {
    margin: 10px 0;
    text-align: right;
}

.final button {
    padding: 8px 16px;
    background: var(--button-bg);
    border: none;
    color: var(--button-fg);
    border-radius: 4px;
    font-weight: bold;
}

.final button:hover {
    background: var(--button-hover-bg);
}

.final button:disabled {
    background: var(--button-dis-bg);
    color: var(--button-dis-fg);
    cursor: default;
}
