.expandSection {
  width: 100%;
}

.expandHeader {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 8px !important;
  color: var(--fg) !important;
  gap: 0 !important;

  &::before {
    content: '►';
    margin-right: 8px;
    transition: transform 0.2s;
  }

  &.expanded::before {
    transform: rotate(90deg);
  }
}

.expandContent {
  padding: 8px;
}
