.paginator {

}

.page {
    border-radius: 4px;
    padding: 6px;
    min-width: 20px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    text-decoration: none;
    color: var(--fgSofter);
}

.current, .page:hover {
    color: var(--primary);
    font-weight: bold;
}
