.container {
}

.meter {
  display: block;
  height: 4px;
  border-radius: 1px;
  outline: 1px solid silver;
  width: 10%;
  margin-bottom: 10px;

  &.tooWeak {
    width: 30%;
    outline: 1px solid red;
    background-color: red;
  }

  &.weak {
    width: 50%;
    outline: 1px solid orange;
    background-color: orange;
  }

  &.medium {
    width: 80%;
    outline: 1px solid yellow;
    background-color: yellow;
  }

  &.strong {
    width: 100%;
    outline: 1px solid green;
    background-color: green;
  }

}

.label {
  font-size: 12px;
}
