.post {
    margin-bottom: 64px;
}

.title, .title a {
    color: var(--fgHard);
    font-size: 24px;
    margin-bottom: 10px;
}

.title a:hover {
    color: var(--fgHarder);
}

.content {
    font-size: 16px;
    @media only screen and (max-width: 600px) { font-size: 14px; }
    line-height: 1.5em;
    color: var(--fg);
    overflow-wrap: anywhere;

    img {
        max-width: 720px;
        max-height: 500px;
    }

    // TODO video sizing
}


.signature {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--fgSoftest);
    a {
        text-decoration: none;
        color: var(--fgSoftest);
        &:hover {
            color: var(--fgSofter);
        }
    }
    .username {
        color: var(--fgSoft);
        &:hover {
            color: var(--fg);
        }
    }
}


.controls {
    display: flex;
    margin-top: 8px;
    margin-left: -4px;
    align-items: center;
    overflow-x: hidden;
}

.control {
    margin-right: 30px;
    color: var(--fgSofter);
    display: flex;
    align-items: center;

    button, a {
        height: 24px;
        min-width: 24px;
        background: none;
        margin: 0;
        padding: 0;
        border: none;

        display: flex;
        align-items: center;
        font-size: 14px;

        fill: var(--fgSoftest);
        color: var(--fgSoftest);

        text-decoration: none;
        font-weight: bold;

        &.active {
            fill: var(--primary);
            color: var(--primary);
            font-weight: bold;
        }
        &:hover {
            color: var(--primaryHover);
            fill: var(--primaryHover);
        }
        &:disabled {
            color: var(--disabled-fg);
            fill: var(--disabled-fg);
            cursor: default;
        }
    }

    .label {
        margin-left: 5px;
    }

    @media only screen and (max-width: 420px) {
        .noComments{
            display: none;
        }
    }

}


// TODO fix on mobile
// TODO should not have scroll
.optionsList {
    position: absolute;
    left: 30px;
    top: -4px;
    border: 1px solid var(--disabled-fg);
    border-radius: 4px;
    padding: 4px;
    width: max-content;
}
.options {
    position: relative;
}
.optionsList .label {
    margin-right: 4px;
}
