.post {
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--item-bg);
}

.header {
    padding: 10px;
}

.contentContainer {
    display: inline-block;
    padding-left: 10px;
}

.buttons {
    position: absolute;
    background: #eeeeee;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
.buttons button {
    text-align: center;
    height: 20px;
    width: 20px;
    display: inline;
    border: none;
    border-radius: 5px;
    background: #eeeeee;
}
.buttons .rating {
    height: 20px;
    display: inline;
    text-align: center;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background: #ffffff;
}

.title {
    font-size: 22px;
    font-weight: 700;
}

.content {

}

.content img {
    max-width: 500px;
    max-height: 500px;
}

.signature {
    font-size: 12px;
    display: inline-block;
    margin: 0 10px;
}

.controls {
    height: 24px;
    background: #0b070f;
    padding: 4px 20px;
}
