.post {
    border-radius: 6px;
    margin-bottom: 65px;
}

.header {

}

.contentContainer {
    display: inline-block;
}

.buttons {
    position: absolute;
    background: #eeeeee;
    border-radius: 5px;
    border: 1px solid #cccccc;
}
.buttons button {
    text-align: center;
    height: 20px;
    width: 20px;
    display: inline;
    border: none;
    border-radius: 5px;
    background: #eeeeee;
}
.buttons .rating {
    height: 20px;
    display: inline;
    text-align: center;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    background: #ffffff;
}

.title, .title a {
    color: var(--fg);
    font-size: 24px;
    margin-bottom: 10px;
}

.title a:hover {
    color: var(--fg);
}

.content {
    font-size: 16px;
    line-height: 1.5em;
    color: var(--text-fg);
    overflow-wrap: anywhere;
}
@media only screen and (max-width: 600px) {
    .content {  font-size: 14px; }
}

.content img {
    max-width: 720px;
    max-height: 500px;
}

.signature {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--inactive-fg);
}
.signature a {
    text-decoration: none;
    color: var(--inactive-fg);
}
.signature a:hover {
    color: var(--inactive-fg);
}
.signature .username {
    color: var(--text-fg);
}
.signature .username:hover {
    color: var(--fg);
}

.controls {
    display: flex;
    margin-top: 10px;
    background: var(--controls-bg);
    align-items: center;
    overflow-x: hidden;
}

.control {
    margin-right: 30px;
    color: var(--inactive-fg);
    display: flex;
    align-items: center;
}

.control button, .control a {
    height: 24px;
    min-width: 24px;
    background: none;
    margin: 0;
    padding: 0;
    border: none;

    fill: var(--inactive-fg);
    display: flex;
    align-items: center;
    font-size: 13px;

    color: var(--inactive-fg);
    text-decoration: none;

    font-weight: bold;
}

.control a {
    margin: 0 2px;
}

.control button.active, .control a.active {
    fill: var(--active-fg);
    color: var(--active-fg);
    font-weight: bold;
}

.control button:hover, .control a:hover {
    color: var(--active-fg);
    fill: var(--active-fg);
}

.control .label {
    margin-left: 5px;
}
@media only screen and (max-width: 420px) {
    .control .noComments{
        display: none;
    }
}
.control button:disabled {
    color: var(--disabled-fg);
    fill: var(--disabled-fg);
    cursor: default;
}

.optionsList {
    position: absolute;
    left: 30px;
    top: -4px;
    border: 1px solid var(--disabled-fg);
    border-radius: 4px;
    padding: 4px;
    width: max-content;
}

.options {
    position: relative;
}

.optionsList .label {
    margin-right: 4px;
}
