.rating {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: var(--fgSoftest);

    .value {
        min-width: 32px;
        flex: 1;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
        &.minus { color: var(--danger); }
        &.plus  { color: var(--primary); }
    }
    button {
        fill: var(--fgSoftest);
        height: 24px;
        width: 24px;
        background: none;
        margin: 0;
        padding: 0;
        border: none;
        &.minus { fill: var(--danger); }
        &.plus { fill: var(--primary); }
        &.dis {  fill: var(--fgGhost); }
    }
}






.list {
    position: absolute;
    display: flex;
    width: 312px;
    height: 257px;
    background: var(--bg);
    box-shadow: 0 0 4px var(--shadow);
    border-radius: 8px;
    flex-direction: column;
    z-index: 100;
}

.listUp {
    height: 92px;
    display: flex;
    align-items: center;
    background: var(--dim1);
}
.listValue {
    text-align: center;
    min-width: 40px;
    font-size: 25px;
    font-weight: bold;
    color: var(--primary);
    margin-left: 20px;
    margin-right: 20px;
}
.listValuePlus {
    color: var(--primary);
}
.listValueMinus {
    color: var(--fg);
}

.listDetails {
    flex: 1;
    border-left: 1px solid var(--dim3);
    color: var(--fg);
    padding: 5px 0 5px 18px;
    font-size: 13px;
}

.listDown {
    flex: 1;
    overflow: auto;

}
.listScrollContainer {
    display: flex;
    align-items: stretch;
    background: var(--dim2);
    gap: 4px;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.listMinus, .listPlus {
    flex: 1;
    min-height: 100%;
    font-size: 13px;
    padding: 12px;
    line-height: 1.5em;
}
.listMinus {
    border-right: 1px solid var(--bg);
}
