.container {
  max-height: calc(100vh - 80px); // Maximum height is the screen height minus 20px
  overflow-y: auto; // Enable vertical scrolling if the content is larger than the container
  height: fit-content; // The height of the container will be as large as the content up to max-height

  .title {
    margin-block-end: 0;
    margin-block-start: 0;

    & > :global(.i):before {
      vertical-align: middle;
      font-size: 26px;
      padding-right: 4px;
    }
  }

  input {
    flex: 1;
    border: none;
    padding: 4px 10px;

    display: flex;
    /*height: 40px;*/
    background: var(--input-bg);
    justify-content: center;
    align-items: stretch;
    border-radius: 4px;
    overflow: hidden;

    box-sizing: border-box;
    width: 100%;
    font-size: 18px;
    //margin-bottom: 16px;
  }

  label {
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
  }

  .decoded {
    overflow-y: auto; // Enable vertical scrolling if the content is larger than the container
  }

}