.container {
    position: fixed;
    max-width: 200px;
    width: 200px;
    left: 0;
    top: 59px;
    bottom: 0;
    background: var(--sidebar-bg);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(1px);
}

.fixed {
    margin: 20px;
}

.siteName {
    display: block;
    text-decoration: none;
    color: var(--fg);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.subscribe {
    margin: 20px 0;
}

.subscribe button {
    padding: 6px 10px;
    border-radius: 4px;
}

.subscribed {
    background: var(--button-dis-bg);
    color: var(--fg);
    border: none;
}

.notSubscribed {
    background: var(--button-bg);
    color: var(--button-fg);
    border: none;
}

.podsites {
    margin-top: 40px;
}