.fade{
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--glass);
    backdrop-filter: blur(3px);
    z-index: 99;
}

.container {
    position: fixed;
    max-width: 200px;
    width: 200px;
    left: 0;
    top: 59px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;

    :global {
        .fixed {
            width: 160px;
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .site-name {
            display: block;
            text-decoration: none;
            color: var(--fg);
            margin-bottom: 20px;
            font-size: 20px;
            font-weight: bold;
        }

        .subscribe {
            margin: 20px 0;

            button {
                padding: 6px 10px;
                border-radius: 4px;

                &.subscribed {
                    background: var(--dim2);
                    color: var(--fg);
                    border: none;
                }

                &.not-subscribed {
                    background: var(--primary);
                    color: var(--onAccent);
                    border: none;
                }

                &:disabled {
                  background: var(--dim1);
                  color: var(--fgSofter);
                }
            }
        }

        .site-info {

        }

        .subsites {
            margin-top: 20px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .all-subsites {
            display: block;
            margin-top: 20px;
            font-size: 14px;
            color: var(--fgGhost);
            &:hover {
                color: var(--linkHover);
            }
        }
    }
}

@media only screen and (max-width: 1179px){
    .fade{
        display: block;
    }
    .container {
        background: var(--bg);
        box-shadow: 0 0 1px var(--shadow), 0 16px 16px var(--shadow);
        :global {
            .subsites div{
                padding: 4px 0;
            }
        }
    }
}
