.container {
    position: fixed;
    max-width: 200px;
    width: 200px;
    left: 0;
    top: 59px;
    bottom: 0;
    /*-webkit-backdrop-filter: blur(2px);*/
    /*backdrop-filter: blur(1px);*/
}
@media only screen and (max-width: 1179px){
    .container {
        background: var(--glass);
    }
}

.fixed {
    margin: 20px;
}

.siteName {
    display: block;
    text-decoration: none;
    color: var(--fg);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.subscribe {
    margin: 20px 0;
}

.subscribe button {
    padding: 6px 10px;
    border-radius: 4px;
}

.subscribed {
    background: var(--dim2);
    color: var(--fg);
    border: none;
}

.notSubscribed {
    background: var(--primary);
    color: var(--onAccent);
    border: none;
}

.podsites {
    margin-top: 40px;
}