.container {
    flex: 1;
    max-width: 200px;

    padding: 20px;
    background: var(--sidebar-bg);
}

.fixed {

}

.siteName {
    display: block;
    text-decoration: none;
    color: var(--sidebar-fg);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.subscribe {
    margin: 20px 0;
}

.subscribe button {
    padding: 6px 10px;
}

.subscribed {
    background: var(--subscribe-bg);
    color: var(--subscribe-fg);
    border: none;
}

.notSubscribed {
    background: var(--subscribe-un-bg);
    color: var(--subscribe-un-fg);
    border: none;
}

.podsites {
    margin-top: 40px;
}