
.container {
  display: flex;
  flex-direction: row;
}

.restricted {
  border-radius: 5px;
  padding: 5px;
  background-color: var(--danger);
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  white-space: nowrap;
}

.restricted a {
  text-shadow: var(--bg) 0 0 2px;
}

.subsiteList {
  background: var(--elevated);
  box-shadow: 0 0 4px var(--shadow);
  border-radius: 8px;
  border-right: 1px solid var(--bg);
  padding: 10px;
}