.invites {
  display: block;
  flex-direction: column;

  :global {
    h4 {
      font-weight: bold;
      margin: 5px 0;

    }

    .list {
      .item {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin: 5px 0;

        button {
          border: none;
          background: none;
          color: var(--link);
          margin: 0;
          padding: 0 10px 0 0;

          &:hover {
            color: var(--linkHover);
          }
        }

        .code {
          color: var(--fgSofter);
          a {
            color: var(--fgSofter);
          }
        }

      }

      .invited {
        margin-left: 10px;
        flex-direction: row;

        a {
          display: inline-block;
          margin-right: 5px;
        }
      }

    }

  }

  .createInvite {
    width: 100%;
    border-radius: 4px;
    padding: 10px 16px 0 24px;
    color: var(--fg);
    background-color: var(--dim3);
    >span{font-size: 24px;}
  }
}
