.username {
  color: var(--primary);
  display: flex;
  align-items: center;

  &.inactive {
    color: var(--fgSoft);
  }

  img {
    image-rendering: pixelated;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  svg {
    fill: var(--primary);
    opacity: .7;
  }

  &:hover svg {
    color: var(--primaryHover);
    fill: var(--primaryHover);
  }
}
