
.barmalini span.label {
  color: var(--fgSofter);
}

.barmalini div {
  max-width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

.barmalini .password {
  cursor: pointer;
}

.dropSessions {
    color: var(--danger);
}