.weakPasswordConfirmationContainer label.weakPasswordConfirmationLabel {
  font-size: 12px;

  input[type=checkbox] {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    width: 10px;
    height: 10px;
  }
}
