.pollContainer {
  background: var(--bg);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px var(--shadow);
  margin: 16px 0;
  position: relative;
}

.question {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--fg);
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.option {
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: 12px;
  transition: all 0.2s ease;
  position: relative;
}

.option:hover:not(.disabled) {
  background-color: var(--glass);
}

.selected {
  border: 1px solid var(--primary);
  background-color: var(--primaryBg);
}

.disabled {
  opacity: 0.7;
  cursor: not-allowed !important;
}

.disabled:hover {
  background-color: transparent;
}

.optionContent {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 12px;
}

.optionSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
}

.optionSelect input[type="checkbox"],
.optionSelect input[type="radio"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.optionSelect input[type="checkbox"]:disabled,
.optionSelect input[type="radio"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.optionText {
  flex-grow: 1;
  display: block;
  font-weight: 500;
}

.results {
  position: relative;
  min-width: max-content;
  text-align: right;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.1);
  transition: width 0.3s ease;
  z-index: 0;
  overflow: hidden;
}

.percentage {
  font-weight: 600;
  color: var(--primary);
  margin-left: 0.5rem;
}

.votes {
  font-size: 0.9rem;
}

.expiration {
  margin-top: 16px;
  font-size: 0.9rem;
  color: #666;
  font-style: italic;
}

.totalVotes {
  color: var(--fgSofter);
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.rescindButton {
  background: none;
  border: none;
  color: var(--danger);
  cursor: pointer;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
}

.rescindButton:hover {
  background: var(--dangerBg);
}

.loading {
  text-align: center;
  padding: 20px;
  color: var(--text);
}

.error {
  color: var(--danger);
  padding: 16px;
  text-align: center;
  border: 1px solid #ffcdd2;
  border-radius: 4px;
  background-color: var(--bg);
  margin: 16px 0;
}

.voteButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}
