MYSQL_ROOT_PASSWORD=testpass
REDIS_PASSWORD=testpass
MEDIA_HOSTING_URL=http://localhost
FINGERPRINT=test

TEST_USER_PASSWORD=kecU1o2Au98J
SERVER_DOMAIN=test.orbitar.local
API_DOMAIN=api.test.orbitar.local