.container {
    display: flex;
    height: 100%;
}

.createpost {
    flex: 1;
}

.createpost .form {
    max-width: 720px;
    margin: 0 auto;
}

.createpost textarea, .createpost .preview  {
    min-height: 250px;
    font-size: 16px;
    line-height: 1.5em;
}

.createpost input.title {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    font-size: 24px;
    margin-bottom: 16px;
}

.createpost p.error {
    color: red;
}

.createpost p.error::before {
    display: inline;
    content: "⚠ ";
}