.container {

}

.feed {
    width: 100%;
    max-width: 880px;
    margin: 56px auto 0;
    /*margin-left: auto;*/
    /*margin-left: clamp(-200px, auto,200px);*/
    /*margin-right: clamp(-200px, auto,200px);*/
}

.feedControls {
    margin: 20px 0;
    color: var(--fgSoftest);
}

.feedControls a {
}

.feedControls a.active {
    font-weight: bold;
}

.loading {

}

.posts>div{
    color: var(--fg);
}