.container {
    height: 100%;
    padding: 0 200px;
}

.feed {
    min-width: 720px;
    max-width: 1024px;
    margin: 0 auto;
    /*margin-left: auto;*/
    /*margin-left: clamp(-200px, auto,200px);*/
    /*margin-right: clamp(-200px, auto,200px);*/
}

.feedControls {
    margin: 20px 0;
}

.feedControls a {
}

.feedControls a.active {
    font-weight: bold;
}

.loading {

}