.container {
    min-width: 720px;
    max-width: 1024px;
    margin: 0 auto;
}

.feed {

}

.comments {
    padding: 0 20px;
    border-radius: 6px;
}

.postButtons {
    background: var(--item-bg);
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    margin-left: 10px;
}

.postButtons a {
    color: var(--fg);
}

.loading {
    margin: 20px;
}

.error {
    color: red;
    margin: 20px;
}