.container {
    width: 100%;
    max-width: 880px;
    margin: 56px auto 0;
}

.feed {

    transition-duration: 0s;
}

.comments {
    border-radius: 6px;
}

.postButtons {
    margin: 30px 0;
    border-radius: 6px;
    font-size: 14px;
    transition-duration: 0s;
    color: var(--fgSoftest);
}

button.postAnswer {
    font-size: 14px;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    align-items: center;
    fill: var(--fgSoftest);
    color: var(--fgSoftest);
    text-decoration: none;

    font-weight: bold;

    &:active, &:hover {
         color: var(--primary);
         font-weight: bold;
    }
}

.postButtons a {

}

.loading {
    margin: 20px;
}

.error {
    color: var(--danger);
    margin: 20px;
}