.container {
    display: flex;
    height: 100%;
}

.feed {
    flex: 1;
}

.comments {
    padding: 0 20px;
    border-radius: 6px;
}

.postButtons {
    background: var(--item-bg);
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    margin-left: 10px;
}

.postButtons a {
    color: var(--fg);
}