.container {
    min-width: 720px;
    max-width: 1024px;
    margin: 0 auto;
}

.feed {

}

.comments {
    border-radius: 6px;
}

.postButtons {
    background: var(--item-bg);
    margin: 30px 0;
    border-radius: 6px;
    font-size: 14px;
}

.postButtons a {

}

.loading {
    margin: 20px;
}

.error {
    color: red;
    margin: 20px;
}