.resetPassword form,
.resetPassword h2,
.resetPassword h3,
.resetPassword .resetSent,
.resetPassword .resetLink {
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
}

.resetPassword h2,
.resetPassword h3 {
  margin: 10px auto;
}

.resetPassword form {
  margin-bottom: 60px;
}

.resetPassword .resetInfo {
  color: gray;
  font-style: italic;
  margin-bottom: 10px;
}

.resetPassword .resetSent {
  color: var(--positive);
}

.resetPassword .resetLink {
  text-align: right;
  margin-bottom: 20px;
}

.resetPassword label {
  display: block;
  font-size: 18px;
  margin-bottom: 4px;
}

.resetPassword input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  font-size: 18px;
  margin-bottom: 16px;
}

.resetPassword p.error {
  color: var(--danger);
}

.resetPassword p.error::before {
  display: inline;
  content: "⚠ ";
}