.container {
    flex: 1;
    max-width: 200px;

    padding: 20px;
    background: var(--sidebar-bg);
}

.fixed {

}

.siteName {
    display: block;
    text-decoration: none;
    color: var(--sidebar-fg);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.podsites {
    margin-top: 40px;
}