.container {
    width: 100%;
    max-width: 880px;
    margin: 56px auto 0;
}

.header {
    padding: 10px 0;
}

.karma {
    display: inline-block;
    float: right;
}

.controls {
    padding: 10px 0;
    background: var(--controls-bg);
}

.control {
    margin-right: 20px;
}
.control.active {
    color: var(--fg);
    font-weight: bold;
}

.userinfo {
    padding: 10px 0;
}

.username {
    font-size: 40px;
}
.name {
    font-size: 25px;
}

.logout{
    margin-top: 80px;
    background: var(--answer-line-fg);
    border: none;
    display: flex;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    color: var(--button-dis-fg);
    align-items: center;
    gap: 8px;
}
.logout:hover{
    background: var(--button-dis-bg);
}

.logout svg{ fill: var(--button-dis-fg); }