.container {
    width: 100%;
    max-width: 880px;
    margin: 56px auto 0;
}


.header{
    padding: 10px 0;
}

.userinfo {
    padding-top: 40px;
    >div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2px 8px;
        color: var(--fg);
        padding-bottom: 16px;
    }
}
.active > span{
    font-size: 20px;
}

.karma {
    display: inline-block;
    float: right;
}

.controls {
    padding: 10px 0;
}

.control {
    margin-right: 20px;
    &.active {
        color: var(--fg);
        font-weight: bold;
    }
}

.username {
    font-size: 40px;
}
.name {
    font-size: 25px;
}

.logout{
    margin-top: 80px;
    background: var(--dim1);
    color: var(--fgSoft);
    border: none;
    display: flex;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    align-items: center;
    gap: 8px;
    fill: var(--fgSoft);

    &:hover{
       fill: var(--fg);
       color: var(--fg);
       background: var(--dim3);
    }

}

