.container {
    width: 100%;
    max-width: 880px;
    margin: 56px auto 0;
}


.header{
    padding: 10px 0;

    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.userinfo {
    padding-top: 40px;
    color: var(--fg);
    >div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2px 8px;
        padding-bottom: 16px;
    }
}
.active {
  padding-right: 20px;
  pointer-events: none;
}

.active > span{
    font-size: 20px;
}

.karma {
    padding: 16px 0;
    //display: inline-block;
    display: flex;
    //float: right;
}

.controls {
   // padding: 10px 0;
    margin: 20px -10px 0;
}

.control {
    display: inline-block;
    //margin-right: 20px;
    padding: 4px 10px;
    &.active {
        color: var(--fg);
        font-weight: bold;
    }
}

.registered {
  color: var(--fgSoft);
  display: flex;
}

.username {
    font-size: 40px;
}

.bobage {
    $dim: 48px;

    position: relative;
    display: inline-block;
    vertical-align: middle;
    left: - $dim * 1.5;
    margin-right: -48px;

    img {
        image-rendering: pixelated;
        width: $dim;
        height: $dim;
    }

    @media only screen and (max-width: 600px) {
        float: right;
        left: $dim / 4;

    }
}

.name {
    font-size: 25px;
}

.userinfo .bio {
    margin-top: 80px;
    display: block;

    .controls {
        margin-top: 20px;
    }

    svg {
        margin-left: 12px;
        margin-right: 4px;
    }
}
