.buttonGroup {
  display: flex;
  flex-wrap: wrap;
}

.compact {
  gap: 0;
}

.default {
  gap: 8px;

  @media (max-width: 500px) {
    gap: 4px;
  }
}

.spacious {
  gap: 32px;

  @media (max-width: 500px) {
    gap: 8px;
  }
}
