button.buttonComponent {
  height: 36px;
  border: none;
  display: flex;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  align-items: center;
  gap: 8px;
  fill: var(--fgSoft);

  &.disabled {
    pointer-events: none;
    opacity: 0.8;
  }

  &.default {
    background: var(--dim1);
    color: var(--fgSoft);

    &:hover {
      background: var(--dim3);
    }
  }

  &.link {
    border: none;
    background: none;
    color: var(--link);
    margin: 0;

    &:hover {
      color: var(--linkHover);
    }
  }

  &.primary {
    background: var(--dim1);
    color: var(--primary);

    &:hover {
      color: var(--primaryHover);
    }

    &.disabled {
      color: var(--fgSoft);
    }
  }

  &.danger {
    background: var(--dim1);
    color: var(--danger);

    &:hover {
      color: var(--dangerHover);
    }

    &.disabled {
      color: var(--fgSoft);
    }
  }

  &.condensed {
    padding: 4px 8px;
    height: 24px;
  }
}
