@keyframes rotate {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(360deg);
  }
}

%baseButton {
  height: 36px;
  border: none;
  display: flex;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: bold;
  align-items: center;
  gap: 8px;
  fill: var(--fgSoft);
  opacity: 0.8;
  background: none;

  transition: background-color 0.2s ease;

  &:hover {
    opacity: 1;
  }

  &.disabled {
    color: var(--fgSoftest);
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
  }
}

%unstyledButton {
  padding: 0;
  border: none;
  background: transparent;
  font-weight: normal;
}

@mixin button-variant($color, $hoverColor: null, $bg: var(--dim3), $hoverBg: var(--fgGhost), $disabledBg: var(--dim1)) {
  background: $bg;
  color: $color;
  fill: $color;

  &:hover,
  &.active {
    @if $hoverColor {
      color: $hoverColor;
      fill: $hoverColor;
    }
    @if $hoverBg {
      background: $hoverBg;
    }
  }
  &.disabled {
    background: $disabledBg;
  }
}

/* Button variants */
.solid {
  @extend %baseButton;
  @include button-variant(var(--fgSoft));
}

.solidAccent {
  @extend %baseButton;
  @include button-variant(var(--fg), null, var(--fgSoftest), var(--fgSofter));
}

.primary {
  @extend %baseButton;
  @include button-variant(var(--primary), var(--primaryHover));
}

.primaryAccent {
  @extend %baseButton;
  @include button-variant(var(--onAccent), null, var(--primary), var(--primaryHover));
}

.danger {
  @extend %baseButton;
  @include button-variant(var(--danger), var(--dangerHover));
}

.dangerAccent {
  @extend %baseButton;
  @include button-variant(var(--onAccent), null, var(--danger), var(--dangerHover));
}

.ghost {
  @extend %baseButton;
  @include button-variant(var(--fgSoft), null, transparent);
}

.ghostAccent {
  @extend %baseButton;
  @include button-variant(var(--fg), null, transparent, var(--dim3));
  border: 1px solid var(--inactive-fg);
}

.link {
  @extend %baseButton;
  @extend %unstyledButton;
  color: var(--link);
  &:hover,
  &.active {
    color: var(--linkHover);
  }
}

.minimal {
  @extend %baseButton;
  height: 24px;
  min-width: 24px;
  padding: 0;
  opacity: 1;
  color: var(--fgSofter);
  fill: var(--fgSofter);

  &:hover,
  &.active {
    color: var(--primaryHover);
    fill: var(--primaryHover);
  }

  &.disabled {
    color: var(--fgSoftest);
    opacity: 0.6;
  }
}

/* Button sizes */

.small {
  height: 32px;
  padding: 4px 8px;
}

.normal {
  height: 36px;
  padding: 8px 16px;
}

.big {
  height: 40px;
  padding: 12px 24px;
}

/* special case */
.iconOnly {
  padding: 8px;
}
